* { box-sizing: border-box; }
body {
  font: 16px Arial;
}
.autocomplete {
  /*the container must be positioned relative:*/
  position: relative;
  display: inline-block;
  width: 80%;
}

.autocomplete-items {
  position: absolute;
  border: 1px solid #d4d4d4;
  border-bottom: none;
  border-top: none;
  z-index: 99;
  /*position the autocomplete items to be the same width as the container:*/
  top: 100%;
  left: 0;
  right: 0;
}
.autocomplete-items div {
  padding: 10px;
  cursor: pointer;
  background-color: #fff;
  border-bottom: 1px solid #d4d4d4;
}
.autocomplete-items div:hover {
  /*when hovering an item:*/
  background-color: #e9e9e9;
}
.autocomplete-active {
  /*when navigating through the items using the arrow keys:*/
  background-color: DodgerBlue !important;
  color: #ffffff;
}

form.example {
  display: flex;
  justify-content: center;
  align-items: center;
  vertical-align: middle;
}

form.example label {
    display: none;
    padding-top: 1em;
}

/* Style the search field */
form.example input[type=text] {
  width: 585px;
  height: 47px;
  margin: 30px 237px 30px 193px;
  padding: 12px 377px 11px 16.7px;
  border-radius: 27px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.05);
  background-color: #fff;
}


/* Style the submit button */
form.example button {
  float: left;
  width: 20%;
  padding: 10px;
  background: #2196F3;
  color: white;
  font-size: 17px;
  border: 1px solid grey;
  border-left: none; /* Prevent double borders */
  cursor: pointer;
}

form.example button:hover {
  background: #0b7dda;
}

/* Clear floats */
form.example::after {
  content: "";
  clear: both;
  display: table;
}

.help-image
{
  position: absolute;
  width: 24px;
  height: 24px;
}
.tooltip {
  position: absolute;
  left: 10px;
  top: 24px;
  display: inline-block;
  transform: translate(-50%, -50%);
}

.tooltip .tooltiptext {
  visibility: hidden;
  background-color: white;
  color: #000;
  text-align: right;
  border-radius: 20px;
  border-style: solid;
  background-color: #b09be2!important;
  margin-top: 40px;
  padding: 10px;
  width: 500px;

  /* Position the tooltip */
  position: absolute;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
}

.left-corner {
  position: relative;
  padding: 20px 0px 0px 50px;
}
/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

/* Hide default HTML checkbox */
.switch input {
  margin-left: 48px;
  margin-top: 8px;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

.fast-search {
  width: 100px;
  height: 18px;
  font-family: 'Arial';
  font-size: 12px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.5;
  letter-spacing: normal;
  text-align: left;
  color: #adaab8;
  position: absolute;
  left: 70px;
  top: 9px;
}

.found-label {
  width: 200px;
  height: 18px;
  font-family: 'Arial';
  font-size: 12px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.5;
  letter-spacing: normal;
  text-align: center;
  color: #adaab8;
  position: absolute;
  left: 50%;
  top: 65%;
  margin-left:-100px;
}


img.Ellipse-4 {
  width: 110px;
  height: 172px;
  object-fit: contain;
  opacity: 0.08;
  -webkit-filter: blur(50px);
  filter: blur(50px);
  background-color: #8bffd1;
}

img.Ellipse-5 {
  width: 196px;
  height: 196px;
  object-fit: contain;
  -webkit-filter: blur(50px);
  opacity: 0.08;
  filter: blur(50px);
  background-color: #00fff7;
  position: absolute;
  left: 40%;
  top: 30%;
}

img.Ellipse-3 {
  width: 20%;
  height: 20%;
  object-fit: contain;
  opacity: 0.08;
  -webkit-filter: blur(50px);
  filter: blur(50px);
  background-color: #8bffd1;
  position: absolute;
  left: 50%;
  top: 40%;
}


img.Ellipse-2 {
  width: 25%;
  height: 15%;
  object-fit: contain;
  opacity: 0.08;
  -webkit-filter: blur(50px);
  filter: blur(50px);
  background-color: #00fff7;
  position: absolute;
  left: 0%;
  bottom: 0%;
}

img.Ellipse-1 {
  width: 25%;
  height: 15%;
  object-fit: contain;
  opacity: 0.08;
  -webkit-filter: blur(50px);
  filter: blur(50px);
  background-color: #8bffd1;
  position: absolute;
  right: 0%;
  bottom: 0%;
}

img.Group-2 {
  width: 140px;
  height: calc(min(8vh,11vw)*3);;
  object-fit: contain;
  position: absolute;
  left: 50%;
  top: 20%;
  margin-left: -70px;
}

.Medicine-Query {
  width: 400px;
  height: 100px;
  font-family: 'Arial';  
  font-size: 28px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.62;
  letter-spacing: normal;
  text-align: left;
  color: #7151cb;
  position: absolute;
  left: 50%;
  top: 52%;
  margin-top: 10px;
  margin-left: -100px;
}

.Medicine_Homepage {
  width: 100%;
  height: 97%;
  background-color: #fff9ff;
  position: absolute;
}

.Rectangle-2 {
  width: 600px;
  height: 47px;
  padding: 12px 0px 11px 16.7px;
  border-radius: 27px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.05);
  position: absolute;
  left: 50%;
  top: 60%;
  margin-left: -300px;
}

img.Rectangle-8 {
  width: 82%;
  max-width: 533px;
  height: 34px;
  object-fit: contain;
  opacity: 0.15;
  border-radius: 27px;
  -webkit-filter: blur(12px);
  filter: blur(12px);
  background-color: #4d068b;
  position: absolute;
  left: 50%;
  top: 60%;
  transform: translate(-50%, 0%);
}


.Type-a-medicine-here {
  width: 95%;
  opacity: 0.4; 
  font-family: 'Arial';                             
  font-size: 22px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.5;
  letter-spacing: normal;
  text-align: left;
  color: #7151cb;
  position: absolute;
  top: 3px;
  border: all;
}

img.search_black_24dp {
  width: 24px;
  height: 24px;
  margin: 0 18.3px 0 0;
  object-fit: contain;
  opacity: 0.4;
}

.Rectangle-3 {
  width: 128px;
  height: 38px;
  padding: 10px 40px 10px 41px;
  border-radius: 4px;
  border: solid 1px #7151cb;
  position: absolute;
  left: 50%;
  top: 70%;
  margin-left: -64px;
}

.Rectangle-3:hover {
  cursor: pointer;
  background-color: #a3a2a6;
}

.Search {
  width: 46px;
  height: 18px;
  font-family: 'Arial';
  font-size: 14px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.5;
  letter-spacing: normal;
  text-align: left;
  color: #7151cb;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}


