* { box-sizing: border-box; }
body {
  font: 16px Arial;
}

.search-results, .search-results-ltr-high, .search-results-rtl-high
{

  width: 1100px;
  height: 50px;
  line-height: 1.62;
  letter-spacing: normal;
  color: #7151cb;
  position: absolute;
  top: 170px;
  z-index: -1;
}
.search-result, .search-results-ltr-high, .search-results-rtl-high
{

  border-radius: 4px;
  padding-top:7px;
  padding-left:5px;
  padding-right:5px;
}
.search-results-ltr-high
{
  left: 200px;
}
.search-results-rtl-high
{
  right: 200px;
}
.drug-name-wrapper
{
  width: 600px;
  word-wrap: break-word;
}
.drug-name-result
{
  height: 15px;
  font-family: 'Arial';  
  font-size: 20px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
}
.drug-name-result-bold
{
  height: 15px;
  font-family: 'Arial';  
  font-size: 20px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  text-decoration: underline;
}
.active-material-wrapper
{
  width: 700px;
  word-wrap: break-word;
  direction: ltr;
}
.active-material-title-wrapper
{
  word-wrap: break-word;
}
.active-material-result
{
  height: 12px;
  font-family: 'Arial';  
  font-size: 16px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  margin-top: 20px;
}
.active-material-result-bold
{
  height: 15px;
  font-family: 'Arial';  
  font-size: 16px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  text-decoration: underline;
}
.blur {
  top: 0px;
  left: 0px;
  width: 1920px;
  height: 1080px;
  /* UI Properties */
  opacity: 1;
  backdrop-filter: blur(9px);
  -webkit-backdrop-filter: blur(9px);
   position: fixed;
   visibility: hidden;
   z-index: 5;
}

.autocomplete {
  /*the container must be positioned relative:*/
  position: relative;
  display: inline-block;
  width: 80%;
}

.autocomplete-items {
  position: absolute;
  border: 1px solid #d4d4d4;
  border-bottom: none;
  border-top: none;
  z-index: 99;
  /*position the autocomplete items to be the same width as the container:*/
  top: 100%;
  left: 0;
  right: 0;
}
.autocomplete-items div {
  padding: 10px;
  cursor: pointer;
  background-color: #fff;
  border-bottom: 1px solid #d4d4d4;
}
.autocomplete-items div:hover {
  /*when hovering an item:*/
  background-color: #e9e9e9;
}
.autocomplete-active {
  /*when navigating through the items using the arrow keys:*/
  background-color: DodgerBlue !important;
  color: #ffffff;
}



form.example {
  display: flex;
  justify-content: center;
  align-items: center;
  vertical-align: middle;
}

form.example label {
    display: none;
    padding-top: 1em;
}

/* Style the search field */
form.example input[type=text] {
  width: 585px;
  height: 47px;
  margin: 30px 237px 30px 193px;
  padding: 12px 377px 11px 16.7px;
  border-radius: 27px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.05);
  background-color: #fff;
}


/* Style the submit button */
form.example button {
  float: left;
  width: 20%;
  padding: 10px;
  background: #2196F3;
  color: white;
  font-size: 17px;
  border: 1px solid grey;
  border-left: none; /* Prevent double borders */
  cursor: pointer;
}

form.example button:hover {
  background: #0b7dda;
}

/* Clear floats */
form.example::after {
  content: "";
  clear: both;
  display: table;
}

.Medicine_Homepage {
  z-index: 50;
}

.help-image
{
  position: absolute;
  width: 32px;
  height: 32px;
  background: transparent url('/img/Info_Icon.svg') 0% 0% no-repeat padding-box;
  opacity: 1;
  z-index: 6;
}


.tooltip {
  position: absolute;
  left: 16px;
  top: 24px;
  display: inline-block;
   z-index: 6;
}

.tooltip .tooltiptext {
  visibility: hidden;
  background-color: white;
  color: #000;
  border-radius: 20px;
  border-style: solid;
  background-color: #b09be2!important;
  margin-top: 40px;
  padding: 10px;
  width: 500px;

  /* Position the tooltip */
  position: absolute;
   z-index: 6;
}

.polygone2 {
    top: -10px;
    width: 93px;
    height: 108px;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    opacity: 1;
    position: relative;
    float: left;
    transform: rotate(179deg) matrix(1, 1, 0, 1, 0, 0);
    border-radius: 6px 27px 27px 27px;
    box-shadow: 0px 4px 8px #00000036;
}

.union2 {
  top: 82px;
  left: 16px;
  width: 690px;
  background: #FFFFFF 0% 0% no-repeat padding-box;
  box-shadow: 0px 4px 8px #00000036;
  border-radius: 6px 27px 27px 27px;
  opacity: 1;
  position: absolute;
  visibility: hidden;

}

.titletip {
  top: 127px;
  left: 74px;
  /* UI Properties */
  font: normal normal 600 20px/32px Arial;
  letter-spacing: 0px;
  color: #7151CB;
  opacity: 1;
  margin: 10px;
}

.texttip {
  top: 167px;
  left: 74px;
  /* UI Properties */
  font: normal normal normal 16px/17px Arial;
  letter-spacing: 0px;
  color: #594F75;
  opacity: 0.8;
  margin: 10px;
}

.bottomtip {
  text-align: center;
  font: normal normal 600 12px/19px Arial;
  letter-spacing: 0px;
  color: #7151CB;
  opacity: 1;
}

.contact-us {
  text-align: center;
  font: normal normal 600 10px/16px Arial;
  letter-spacing: 0px;
  opacity: 1;
}

.left-corner {
  position: relative;
  padding: 20px 0px 0px 50px;
}

.right-corner {
  position: absolute;
  text-align: right;
  right: 110px;
  top: 22px;
}

.right-corner-next {
  position: absolute;
  text-align: right;
  right: 110px;
  top: 62px;
}

.right-corner-next-multilang {
  position: absolute;
  text-align: right;
  left: 110px;
  top: 62px;

}


/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #9d85db;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

.quick-search {
  width: max-content;
  height: 18px;
  font-size: 16px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.5;
  letter-spacing: normal;
  text-align: left;
  color: #adaab8;
  position: absolute;
  left: 70px;
  top: 5px;
}

.quick-search-multilang {
  width: max-content;
  height: 18px;
  font-size: 16px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.5;
  letter-spacing: normal;
  text-align: left;
  color: #adaab8;
  position: absolute;
  left: -80px;
  top: 5px;
}
.found-label {
  width: 200px;
  height: 18px;
  font-size: 12px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.5;
  letter-spacing: normal;
  text-align: center;
  color: #adaab8;
  position: absolute;
  left: 50%;
  top: 65%;
  transform: translate(-50%, -50%);
  visibility: hidden;
}


img.Ellipse-4 {
  z-index: -5;
  width: 110px;
  height: 172px;
  object-fit: contain;
  opacity: 0.08;
  -webkit-filter: blur(50px);
  filter: blur(50px);
  background-color: #8bffd1;
}

img.Ellipse-5 {
  z-index: -5;
  width: 196px;
  height: 196px;
  object-fit: contain;
  -webkit-filter: blur(50px);
  opacity: 0.08;
  filter: blur(50px);
  background-color: #00fff7;
  position: absolute;
  left: 40%;
  top: 30%;
}

img.Ellipse-3 {
  z-index: -5;
  width: 20%;
  height: 20%;
  object-fit: contain;
  opacity: 0.08;
  -webkit-filter: blur(50px);
  filter: blur(50px);
  background-color: #8bffd1;
  position: absolute;
  left: 50%;
  top: 40%;
}


img.Ellipse-2 {
  z-index: -5;
  width: 25%;
  height: 15%;
  object-fit: contain;
  opacity: 0.08;
  -webkit-filter: blur(50px);
  filter: blur(50px);
  background-color: #00fff7;
  position: absolute;
  left: 0%;
  bottom: 0%;
}

img.Ellipse-1 {
  z-index: -5;
  width: 25%;
  height: 15%;
  object-fit: contain;
  opacity: 0.08;
  -webkit-filter: blur(50px);
  filter: blur(50px);
  background-color: #8bffd1;
  position: absolute;
  right: 0%;
  bottom: 0%;
}

img.Group-2 {
  z-index: -5;
  width: 141.7px;
  height: calc(min(8vh,11vw)*3);;
  object-fit: contain;
  position: absolute;
  left: 50%;
  top: -96px;
  transform: translate(-50%, -50%);
}

.Medicine-Query {
  width: max-content;
  height: 99px;
  font-family: 'Arial';  
  font-size: calc(min(8vh,11vw)*0.9);
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.62;
  letter-spacing: normal;
  text-align: left;
  color: #7151cb;
  position: absolute;
  left: 50%;
  top: 40%;
  transform: translate(-50%, -50%);
}


.Medicine_Homepage {
  width: 100%;
  height: 97vh;
  position: relative;
}

.Rectangle-2 {
  width: 90%;
  max-width: 585px;
  height: 47px;
  border-radius: 27px;
  background-color: #fff;
  border: 1px solid #7151CB66;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);

}

img.Rectangle-8 {
  width: 82%;
  max-width: 533px;
  height: 34px;
  object-fit: contain;
  opacity: 0.15;
  border-radius: 27px;
  -webkit-filter: blur(12px);
  filter: blur(12px);
  background-color: #4d068b;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, 0%);
  visibility: hidden;
}


.Type-a-medicine-here {
  font-weight: bold;
  font-size: 22px;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.5;
  letter-spacing: normal;
  color: #7151cb;
  position: absolute;
  top: 6px;
  border: none;
  width: 84%;
}

img.search_black_24dp {
  width: 24px;
  height: 24px;
  object-fit: contain;
  opacity: 0.4;

}

.button-pdf, .button-pdf-doctor {
  width: 128px;
  height: 38px;
  border-radius: 4px;
  border: solid 1px #7151cb;
  position: relative;
  float: left;
  background: #7151CB 0% 0% no-repeat padding-box;
  cursor: pointer;
  color: #ffffff;
}

.button-pdf-grey, .button-pdf-doctor-grey {
  width: 128px;
  height: 38px;
  border-radius: 4px;
  border: solid 1px #a3a2a6;
  position: relative;
  float: left;
  background: #a3a2a6 0% 0% no-repeat padding-box;
  color: #ffffff;
}

.button-pdf-doctor, .button-pdf-doctor-grey {
  left: 20px;
}

.Rectangle-3 {
  width: 127px;
  height: 38px;
  padding: 10px 40px 10px 41px;
  border-radius: 4px;
  border: solid 1px #7151cb;
  position: relative;
  left: -500px;
  top: 11px;
  transform: translate(-50%, -50%);
  background: #7151CB 0% 0% no-repeat padding-box;
}

.Rectangle-3:hover {
  cursor: pointer;
  background-color: #a3a2a6;
  border: solid 1px #0c0016;
}

.Search {
  width: 46px;
  height: 18px;
  font-size: 14px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  letter-spacing: normal;
  color: #FFFFFF;
}

.dropbtn {
  /* UI Properties */
  font: normal normal normal 14px/21px Arial;
  letter-spacing: 0px;
  color: #7151CB;
  opacity: 1;
  vertical-align: middle;
  margin-left: 10%;
  padding-top: 3.5px;
  position: absolute;
}

.world {
  top: 47px;
  left: 99px;
  width: 18px;
  height: 18px;
  background: transparent url('/img/World.svg') 0% 0% no-repeat padding-box;
  opacity: 1;
  margin-left: 8%;
  margin-top: 5%
}


.dropdown {
  position: absolute;
  display: inline-block;
  top: 24px;
  width: 98px;
  height: 32px;
  border: 2px solid #7151cb99;
  border-radius: 3px;
  margin-left: 24px;
}

.dropdown-content {
  display: none;
  position: absolute;
  right: 0;
  top: 30px;
  background-color: #ffffff;
  text-align: center;
  z-index: 1;
  border-radius: 5px;
  cursor: pointer;
}


.droptext {
  color: grey;
  font-size: 22px;
  padding-top: 2.5px;
  text-decoration: none;
  display: block;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
}


.dropdown:hover .dropdown-content {
  display: block;
}

.column {
  float: left;
  width: 33.1%;
  top: -29px;
  position: relative;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}


