 @import url("/original/css/website.css");


.union2 {
  top: 62px;
  left: 16px;
  width: 84vw;
}

.titletip {
  font: normal normal 600 14px/18px Arial;
}

.texttip {
  font: normal normal normal 14px/17px Arial;
}

/* The slider */
.slider {
  -webkit-tap-highlight-color: transparent;
}

.quick-search-multilang {
  left: 70px;
}

img.Group-2 {
  height: calc(min(8vh,11vw)*2.7);;
}


.Rectangle-2 {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.05);
}


.Rectangle-3:active {
  cursor: pointer;
  background-color: #a3a2a6;
  border: solid 1px #0c0016;
}

.column {
  width: auto;
}

.Type-a-medicine-here {
    width: 75%;
  }
.search-results
{
  width: 280px;
  top: 50px;
}

.search-results-ltr-high, .search-results-rtl-high
{
  width: 280px;
  top: 16px;
  height: 0px;
}

.search-results-ltr-high
{
  left: 10px;
  top: 80px;
}
.search-results-rtl-high
{
  right: 10px;
  top: 80px;
}
.search-result
{
  height: fit-content;
  padding-top: unset;
  position: relative;
  margin-top: 64px;
}

.drug-name-wrapper
{
  height: fit-content;
  width: 270px;
}


.active-material-wrapper
{
  height: fit-content;
  width: 270px;
}

.dropdown-content {
  top: 40px;
}